extends ./layout.jade
block contenido
  div(class="offset-md-2 col-md-8 remove-float center-block text-center big-top-space")
    h1 Hola mundo
    a(href="/login" class="right-space") Login session
    a(href="/signup") Register
