.right-space{
  margin-right: 1em;
}

.remove-float{
  float: none;
}

.top-space{
  margin-top: 1.5em;
}

.big-top-space{
  margin-top: 150px;
}

.large-padding{
  padding: 10px 15px;
}

.black{
  background-color: #222;
}

.white-text {
  color: white;
}
.img-container{
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}
.img-container h1,.img-container h2{
  padding: 15px;
  border-bottom: 1px solid #222;
}
.img-container p{
  text-align: right;
  font-size: 1.1em;
  margin-top: 1em;
}
img{
  max-width: 100%;
}
nav {
  text-align: right;
}

nav li{
  display: inline-block;
  margin-right: 1em;
  font-size: 1.1em;
}

nav li a{
  color: white;
}

nav li a:hover{
  color: white;
}

.white{
  background-color: white;
}

.border{
  border: solid 1px #eee;
}

.tr:nth-of-type(odd){
  background-color: #eee;
}

form.link{
  display: inline-block;
}

form.link input[type="submit"]{
  background-color: transparent;
  border: none;
  color: rgb(200, 50, 50);
}
